<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Web Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='app.js') }}" defer></script>
</head>
<body>
    <header>
        <h1>Money tracker</h1>
        <h1>Total profit: <span id="total-profit">$0.00</span></h1>
    </header>
    <main>
        <section id="resources">
            <h2>Resources</h2>
        </section>
        <section id="commissions">
            <h2>Commissions</h2>
        </section>
        <section id="product">
            <h2>Product</h2>
        </section>
        <section id="todo-list">
            <h2>Todo list</h2>
        </section>
    </main>
</body>
</html>